LoadModule dav_svn_module     modules/mod_dav_svn.so
LoadModule authz_svn_module   modules/mod_authz_svn.so


<Location /rl_svn >
   DAV svn
   SVNPath /svn/rheinland
   Allow from localhost
   AuthName "RL subversion repository"
   AuthType Basic
   AuthUserFile /etc/subversion/passwd
   Require valid-user
</Location>

